wled node-red mqtt.json
[
    {
        "id": "79f39bbd06e49a6f",
        "type": "inject",
        "z": "084d30036f317d17",
        "name": "",
        "props": [
            {
                "p": "payload.seg[0].fx",
                "v": "7",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "045d878363bbe388"
            ]
        ]
    },
    {
        "id": "fe1cd69dd1c8b405",
        "type": "group",
        "z": "084d30036f317d17",
        "name": "Effect",
        "style": {
            "label": true
        },
        "nodes": [
            "bb801a0490638321",
            "3102c011f162b669",
            "ea0f0c74f8fce6bb",
            "441c5705c44c65cb",
            "782496217605d724",
            "99fa84220fb6b39d",
            "d74ec67bded6f9f7",
            "992e2dc858957f01",
            "76b54ef0141f669c",
            "39be48c176ee53ce",
            "0fd934c0e4c66a4d",
            "a3799febdaada745",
            "b8ce8537436da7a2",
            "518299f0c8e1fbfe",
            "74855a44173c6b41",
            "698f2064dd076d44"
        ],
        "x": 254,
        "y": 379,
        "w": 592,
        "h": 382
    },
    {
        "id": "bb801a0490638321",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "name": "Setup",
        "func": "var name = \"Effect\";\n\nmsg.payload = {\n \"ConfiguredName\": name,\n \"Active\" : 0\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "99fa84220fb6b39d"
            ]
        ]
    },
    {
        "id": "3102c011f162b669",
        "type": "inject",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "name": "Setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "bb801a0490638321"
            ]
        ]
    },
    {
        "id": "ea0f0c74f8fce6bb",
        "type": "inject",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "name": "Source Setup",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "441c5705c44c65cb"
            ]
        ]
    },
    {
        "id": "441c5705c44c65cb",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "name": "Set up inputs",
        "func": "// INPUT SOURCE NAMES\nvar input0 = \"Effect 1\";\nvar input1 = \"Effect 2\";\nvar input2 = \"Effect 3\";\nvar input3 = \"Effect 4\";\nvar input4 = \"Effect 5\";\nvar input5 = \"Effect 6\";\nvar input6 = \"Effect 7\";\nvar input7 = \"Effect 8\";\nvar input8 = \"Effect 9\";\nvar input9 = \"Effect 10\";\n\n// INPUT SOURCE TYPES\nvar OTHER = 0;\nvar HOME_SCREEN = 1;\nvar TUNER = 2;\nvar HDMI = 3;\nvar COMPOSITE_VIDEO = 4;\nvar S_VIDEO = 5;\nvar COMPONENT_VIDEO = 6;\nvar DVI = 7;\nvar AIRPLAY = 8;\nvar USB = 9;\nvar APPLICATION = 10;\n\n// Configure your input types based on options above\nvar input0type = OTHER;\nvar input1type = OTHER;\nvar input2type = OTHER;\nvar input3type = OTHER;\nvar input4type = OTHER;\nvar input5type = OTHER;\nvar input6type = OTHER;\nvar input7type = OTHER;\nvar input8type = OTHER;\nvar input9type = OTHER;\n\n// Duplicate or remove sets if you have more or fewer inputs\nvar msg0 = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\n\nmsg0.payload = {\n    \"Identifier\": 106,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input0,\n    \"InputSourceType\": input0type\n};\nmsg1.payload = {\n    \"Identifier\": 2,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input1,\n    \"InputSourceType\": input1type\n};\nmsg2.payload = {\n    \"Identifier\": 3,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input2,\n    \"InputSourceType\": input2type\n};\nmsg3.payload = {\n    \"Identifier\": 4,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input3,\n    \"InputSourceType\": input3type\n};\nmsg4.payload = {\n    \"Identifier\": 5,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input4,\n    \"InputSourceType\": input4type\n};\nmsg5.payload = {\n    \"Identifier\": 6,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input5,\n    \"InputSourceType\": input5type\n};\nmsg6.payload = {\n    \"Identifier\": 7,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input6,\n    \"InputSourceType\": input6type\n};\nmsg7.payload = {\n    \"Identifier\": 8,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input7,\n    \"InputSourceType\": input7type\n};\nmsg8.payload = {\n    \"Identifier\": 9,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input8,\n    \"InputSourceType\": input8type\n};\nmsg9.payload = {\n    \"Identifier\": 10,\n    \"IsConfigured\": 1,\n    \"ConfiguredName\": input9,\n    \"InputSourceType\": input9type\n};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9];",
        "outputs": 10,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 540,
        "wires": [
            [
                "d74ec67bded6f9f7"
            ],
            [
                "992e2dc858957f01"
            ],
            [
                "76b54ef0141f669c"
            ],
            [
                "39be48c176ee53ce"
            ],
            [
                "0fd934c0e4c66a4d"
            ],
            [
                "a3799febdaada745"
            ],
            [
                "b8ce8537436da7a2"
            ],
            [
                "518299f0c8e1fbfe"
            ],
            [
                "74855a44173c6b41"
            ],
            [
                "698f2064dd076d44"
            ]
        ]
    },
    {
        "id": "782496217605d724",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "name": "function 8",
        "func": "\nvar activeIdentifier = msg.payload.ActiveIdentifier;\n\nmsg.payload.seg = msg.payload.seg || [];\n\n\nmsg.payload.seg[0] = {\n    fx: activeIdentifier\n};\n\n\nif (msg.payload.Active === 0) {\n    \n    msg.payload.seg = msg.payload.seg || [];\n    msg.payload.seg[0] = {\n        fx: 0\n    };\n} else if (msg.payload.Active === 1) {\n       \n        msg.payload.seg = msg.payload.seg || [];\n        msg.payload.seg[0] = {\n            fx: 1\n        };\n\n    }\n\n\ndelete msg.payload.Active;\ndelete msg.payload.ActiveIdentifier;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 420,
        "wires": [
            [
                "045d878363bbe388"
            ]
        ]
    },
    {
        "id": "99fa84220fb6b39d",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "3cca9f9d835357a8",
        "accessoryId": "",
        "parentService": "7ca9db4303b7a129",
        "name": "Effect",
        "serviceName": "Television",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{    \"RemoteKey\":null}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 610,
        "y": 440,
        "wires": [
            [],
            [
                "782496217605d724"
            ]
        ]
    },
    {
        "id": "d74ec67bded6f9f7",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 0",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "992e2dc858957f01",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 1",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "76b54ef0141f669c",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 2",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "39be48c176ee53ce",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 3",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0fd934c0e4c66a4d",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 4",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a3799febdaada745",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 5",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b8ce8537436da7a2",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 6",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 760,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "518299f0c8e1fbfe",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 7",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 580,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74855a44173c6b41",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 8",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 580,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "698f2064dd076d44",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "fe1cd69dd1c8b405",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "99fa84220fb6b39d",
        "name": "Input 9",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 580,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3cca9f9d835357a8",
        "type": "homekit-bridge",
        "bridgeName": "Wled livingroom",
        "pinCode": "608-55-740",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.5.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.5.0",
        "hardwareRev": "1.5.0",
        "softwareRev": "1.5.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "a522847aea0b7d25",
        "type": "group",
        "z": "084d30036f317d17",
        "name": "Light",
        "style": {
            "label": true
        },
        "nodes": [
            "830445aae7b24f07",
            "9d562fb441bb0fdb",
            "f3f0f0e0a17f20d3",
            "3295295f2ad86c22",
            "c1a7e5adc6c16589",
            "eec9ca6f15186086",
            "7447365116d0cd4f",
            "045d878363bbe388",
            "0b31d8c2176ee9ce",
            "f3300379f383dce1",
            "2c59463c6409bbb3",
            "dadd263bc5e53dce",
            "413dc008fa4c9432",
            "7ca9db4303b7a129"
        ],
        "x": 114,
        "y": 91.5,
        "w": 892,
        "h": 209.5
    },
    {
        "id": "830445aae7b24f07",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "White vs RGB and Off",
        "func": "if (msg.payload[3] === false) {\n    return [null, null, msg];\n}\nelse if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n    return [msg, null, null];\n} else {\n    msg.payload[2] = 100;\n    msg.payload.pop();\n    return [null, msg, null];\n}\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "c1a7e5adc6c16589"
            ],
            [
                "9d562fb441bb0fdb"
            ],
            [
                "3295295f2ad86c22"
            ]
        ],
        "outputLabels": [
            "White",
            "RGB",
            "Off",
            ""
        ]
    },
    {
        "id": "9d562fb441bb0fdb",
        "type": "color-convert",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "input": "hsv",
        "output": "rgb",
        "outputType": "object",
        "scaleInput": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "f3f0f0e0a17f20d3"
            ]
        ]
    },
    {
        "id": "f3f0f0e0a17f20d3",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "Color",
        "func": "var preset = flow.get('preset')||0;\nvar Brightness;\n\nif (flow.get('Brightness' || flow.get('Brightness') === 0)) {\n    Brightness = flow.get('Brightness');\n} else {\n    Brightness = 100;\n    flow.set('Brightness', Brightness);\n}\n\nvar bri = parseInt(Brightness*2.55 + .5);\n\nmsg.payload = {\"on\":true,\"bri\":bri,\"transition\":7,\"mainseg\":0,\n\"seg\":[{\"id\":0,\"start\":0,\"stop\":104,\"grp\":1,\"spc\":0,\"of\":0,\"on\":true,\"bri\":255,\"n\":\"RGB\",\"col\":[[msg.payload.red,msg.payload.green,msg.payload.blue,0],[0,0,0,0],[0,0,0,0]],\"fx\":null,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n       {\"id\":1,\"start\":0,\"stop\":0,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":null,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "045d878363bbe388"
            ]
        ]
    },
    {
        "id": "3295295f2ad86c22",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "Off",
        "func": "var brightness = parseInt(msg.payload[2]*2.55 + .5);\n\nmsg.payload = {\"on\": false,\"bri\":brightness, \"transition\":7,\"mainseg\":0,\"seg\":[\n    {\"id\":0,\"start\":0,\"stop\":104,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"RGB\",\"col\":[[0,0,0,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n    {\"id\":1,\"start\":0,\"stop\":0,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "045d878363bbe388"
            ]
        ]
    },
    {
        "id": "c1a7e5adc6c16589",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "White",
        "func": "var brightness = parseInt(msg.payload[2]*2.55 + .5);\nmsg.payload = {\n    \"on\": true, \"bri\":brightness,\"transition\":7,\"mainseg\":0,\"seg\":[\n        { \"id\": 0, \"start\": 0, \"stop\": 104, \"grp\": 1, \"spc\": 0, \"of\": 0, \"on\": false, \"bri\": 0, \"n\": \"RGB\", \"col\": [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]], \"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n    {\"id\":1,\"start\":24,\"stop\":25,\"grp\":1,\"spc\":0,\"of\":0,\"on\":true,\"bri\":255,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "045d878363bbe388"
            ]
        ]
    },
    {
        "id": "eec9ca6f15186086",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "Output",
        "func": "var Hue = flow.get('Hue')||0;\nvar Saturation = flow.get('Saturation')||0;\nvar Brightness = flow.get('Brightness')||100;\nvar On = flow.get('On') || false;\nif(msg.payload.Hue || msg.payload.Hue === 0){\n    Hue = msg.payload.Hue;\n    flow.set('Hue',Hue);\n}\nif(msg.payload.Saturation || msg.payload.Saturation ===0){\n    Saturation = msg.payload.Saturation;\n    flow.set('Saturation',Saturation);\n}\n\nif(msg.payload.Brightness || msg.payload.Brightness === 0){\n    Brightness = msg.payload.Brightness;\n    flow.set('Brightness',Brightness);\n}\n\nif(msg.payload.On || msg.payload.On === false) {\n    On = msg.payload.On;\n    flow.set('On',On);\n}\n\nif (msg.hap && msg.hap.context !== undefined) {\n    return [{ \"payload\": [Hue, Saturation, Brightness, On] }]\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 140,
        "wires": [
            [
                "830445aae7b24f07"
            ]
        ]
    },
    {
        "id": "7447365116d0cd4f",
        "type": "join",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "Combine",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": ".1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "eec9ca6f15186086"
            ]
        ]
    },
    {
        "id": "045d878363bbe388",
        "type": "mqtt out",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "",
        "topic": "wled/a9abd4/api",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd0bad3006a15a19",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b31d8c2176ee9ce",
        "type": "xml",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "f3300379f383dce1"
            ]
        ]
    },
    {
        "id": "f3300379f383dce1",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "",
        "func": "var red = msg.payload.vs.cl[0];\nvar green = msg.payload.vs.cl[1];\nvar blue = msg.payload.vs.cl[2];\nvar brightness = parseInt(msg.payload.vs.ac[0]/2.55);\n\nif (parseInt(msg.payload.vs.ac[0]) >  0) {\n    flow.set('On', true);\n    flow.set('Brightness', brightness);\n} else { \n    flow.set('On', false);\n}\n\nreturn [{\"payload\":[red, green, blue]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "2c59463c6409bbb3"
            ]
        ]
    },
    {
        "id": "2c59463c6409bbb3",
        "type": "color-convert",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "input": "rgb",
        "output": "hsv",
        "outputType": "array",
        "scaleInput": false,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "dadd263bc5e53dce"
            ]
        ]
    },
    {
        "id": "dadd263bc5e53dce",
        "type": "function",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "",
        "func": "var outmsg={};\nvar Hue = flow.get('Hue')||0;\nvar Saturation = flow.get('Saturation')||0;\nvar Brightness = flow.get('Brightness');\nvar On = flow.get('On');\n\nif(!On){\n    outmsg.payload={\"On\":false};\n} else{\n    Hue = msg.payload[0];\n    flow.set('Hue',Hue);\n    Saturation = msg.payload[1];\n    flow.set('Saturation',Saturation);\n    // Brightness = msg.payload[2];\n    // flow.set('Brightness',Brightness);\n    outmsg.payload={\n        \"On\":true,\n        \"Hue\":Hue,\n        \"Saturation\":Saturation,\n        \"Brightness\":Brightness\n    }\n}\nreturn [outmsg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "7ca9db4303b7a129"
            ]
        ]
    },
    {
        "id": "413dc008fa4c9432",
        "type": "mqtt in",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "name": "",
        "topic": "wled/a9abd4/v",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd0bad3006a15a19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "0b31d8c2176ee9ce"
            ]
        ]
    },
    {
        "id": "7ca9db4303b7a129",
        "type": "homekit-service",
        "z": "084d30036f317d17",
        "g": "a522847aea0b7d25",
        "isParent": true,
        "hostType": "0",
        "bridge": "3cca9f9d835357a8",
        "accessoryId": "",
        "parentService": "",
        "name": "Light",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB - WLED",
        "model": "1.3.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.3",
        "hardwareRev": "1.3.3",
        "softwareRev": "1.3.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{   \"ServiceLabelIndex\": {     \"minValue\": 0,     \"maxValue\": 0   },   \"Brightness\": true,   \"Hue\": true,   \"Saturation\": true }",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "7447365116d0cd4f"
            ],
            []
        ]
    },
    {
        "id": "dd0bad3006a15a19",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "192.168.68.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]