wled node-red mqtt.json
[
    {
        "id": "bbd0c44722716284",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "name": "function 6",
        "func": "// Kiểm tra xem payload.vs.fx[0] có tồn tại và khác null\nif (msg.payload && msg.payload.vs && msg.payload.vs.fx && msg.payload.vs.fx[0] !== null) {\n    // Gán giá trị của payload.vs.fx[0] vào payload.ActiveIdentifier\n    msg.payload = { ActiveIdentifier: msg.payload.vs.fx[0] };\n} else {\n    // Nếu payload.vs.fx[0] không tồn tại hoặc là null, gán payload.ActiveIdentifier = null\n    msg.payload = { ActiveIdentifier: null };\n}\n\n// Trả về kết quả\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "da97363cf75b45c4"
            ]
        ]
    },
    {
        "id": "53cb891ca10debb0",
        "type": "group",
        "z": "d2cbb67c6acd67a0",
        "name": "Effect",
        "style": {
            "label": true
        },
        "nodes": [
            "59fdaea5e2db3d88",
            "f6afc650e4e11f6a",
            "eb82254e01c4f71b",
            "ba0746124531975d",
            "4c09d57f0e0e3041",
            "5ca910ed4f192b1b",
            "b4553c35a4a4138f",
            "90845a1096ec9c9c",
            "da97363cf75b45c4",
            "419ce8274eab23a6"
        ],
        "x": 234,
        "y": 319,
        "w": 572,
        "h": 262
    },
    {
        "id": "59fdaea5e2db3d88",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "name": "Setup",
        "func": "var name = \"Effect\";\n\nmsg.payload = {\n \"ConfiguredName\": name,\n \"Active\" : 0\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "da97363cf75b45c4"
            ]
        ]
    },
    {
        "id": "f6afc650e4e11f6a",
        "type": "inject",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "name": "Setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "59fdaea5e2db3d88"
            ]
        ]
    },
    {
        "id": "eb82254e01c4f71b",
        "type": "inject",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "name": "Source Setup",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "ba0746124531975d"
            ]
        ]
    },
    {
        "id": "ba0746124531975d",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "name": "Set up inputs",
        "func": "\n// INPUT SOURCE NAMES\nvar input0 = \"Effect 1\";\nvar input1 = \"Effect 2\";\nvar input2 = \"Effect 3\";\nvar input3 = \"Effect 4\";\n\n// INPUT SOURCE TYPES\nvar OTHER = 0;\nvar HOME_SCREEN = 1;\nvar TUNER = 2;\nvar HDMI = 3;\nvar COMPOSITE_VIDEO = 4;\nvar S_VIDEO = 5;\nvar COMPONENT_VIDEO = 6;\nvar DVI = 7;\nvar AIRPLAY = 8;\nvar USB = 9;\nvar APPLICATION = 10;\n\n// Configure your input types based on options above\nvar input0type = OTHER;\nvar input1type = OTHER;\nvar input2type = OTHER;\nvar input3type = OTHER;\n\n\n// Duplicate or remove sets if you have more or fewer inputs\nvar msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\nmsg0.payload = {\n    \"Identifier\": 1,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\": input0,\n    \"InputSourceType\": input0type\n};\nmsg1.payload = {\n    \"Identifier\": 2,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\": input1,\n    \"InputSourceType\": input1type\n};\nmsg2.payload = {\n    \"Identifier\": 3,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\": input2,\n    \"InputSourceType\": input2type\n};\nmsg3.payload = {\n    \"Identifier\": 40,\n    \"IsConfigured\" : 1,\n    \"ConfiguredName\" : input3,\n    \"InputSourceType\" : input3type\n};\nreturn [msg0,msg1,msg2,msg3];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "4c09d57f0e0e3041"
            ],
            [
                "5ca910ed4f192b1b"
            ],
            [
                "b4553c35a4a4138f"
            ],
            [
                "90845a1096ec9c9c"
            ]
        ]
    },
    {
        "id": "4c09d57f0e0e3041",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "isParent": false,
        "bridge": "",
        "accessoryId": "",
        "parentService": "da97363cf75b45c4",
        "name": "Input 0",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 720,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ca910ed4f192b1b",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "isParent": false,
        "bridge": "",
        "accessoryId": "",
        "parentService": "da97363cf75b45c4",
        "name": "Input 1",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 720,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b4553c35a4a4138f",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "isParent": false,
        "bridge": "",
        "accessoryId": "",
        "parentService": "da97363cf75b45c4",
        "name": "Input 2",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 720,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "90845a1096ec9c9c",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "isParent": false,
        "bridge": "",
        "accessoryId": "",
        "parentService": "da97363cf75b45c4",
        "name": "Input 3",
        "serviceName": "InputSource",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 720,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "da97363cf75b45c4",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "isParent": false,
        "hostType": "0",
        "bridge": "6e0142dc7ddde237",
        "accessoryId": "",
        "parentService": "490e249d805e33d2",
        "name": "Effect",
        "serviceName": "Television",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{    \"RemoteKey\":null}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "419ce8274eab23a6"
            ],
            []
        ]
    },
    {
        "id": "419ce8274eab23a6",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "53cb891ca10debb0",
        "name": "function 5",
        "func": "// Lấy giá trị từ payload.ActiveIdentifier\nvar activeIdentifier = msg.payload.ActiveIdentifier;\n// Tạo payload.seg nếu chưa tồn tại\nmsg.payload.seg = msg.payload.seg || [];\n\n// Gán giá trị từ activeIdentifier vào payload.seg[0].fx\nmsg.payload.seg[0] = {\n    fx: activeIdentifier\n};\n\n// Kiểm tra giá trị payload.Active\nif (msg.payload.Active === 0) {\n    // Nếu payload.Active là 0, gán giá trị trong payload.seg[0].fx là 0\n    msg.payload.seg = msg.payload.seg || [];\n    msg.payload.seg[0] = {\n        fx: 0\n    };\n} else if (msg.payload.Active === 1) {\n        // Sử dụng giá trị từ lastfx nếu payload.Active là 1\n        msg.payload.seg = msg.payload.seg || [];\n        msg.payload.seg[0] = {\n            fx: 1\n        };\n\n    }\n\n// Xóa payload.Active và payload.ActiveIdentifier nếu không cần thiết\ndelete msg.payload.Active;\ndelete msg.payload.ActiveIdentifier;\n\n// Trả về kết quả\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "de7cc287b806626f"
            ]
        ]
    },
    {
        "id": "6e0142dc7ddde237",
        "type": "homekit-bridge",
        "bridgeName": "wled",
        "pinCode": "772-40-488",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.5.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.5.0",
        "hardwareRev": "1.5.0",
        "softwareRev": "1.5.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "936a962bbd80ba3e",
        "type": "group",
        "z": "d2cbb67c6acd67a0",
        "name": "Light",
        "style": {
            "label": true
        },
        "nodes": [
            "2c80f10fd4dee6b7",
            "039f9aea0933f12e",
            "b77cd9453ad87a55",
            "b85fa74efb1ae22c",
            "e74e4bbb261c099c",
            "9b4f61d7dde9fc7a",
            "c9936a3002d2d229",
            "de7cc287b806626f",
            "23e7538655651346",
            "662e16b8dacbc124",
            "7b56ff80be70abd5",
            "445b273f8e1535d0",
            "4e8a591cae482816",
            "490e249d805e33d2"
        ],
        "x": 74,
        "y": 31.5,
        "w": 892,
        "h": 209.5
    },
    {
        "id": "2c80f10fd4dee6b7",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "White vs RGB and Off",
        "func": "if (msg.payload[3] === false) {\n    return [null, null, msg];\n}\nelse if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n    return [msg, null, null];\n} else {\n    msg.payload[2] = 100;\n    msg.payload.pop();\n    return [null, msg, null];\n}\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "e74e4bbb261c099c"
            ],
            [
                "039f9aea0933f12e"
            ],
            [
                "b85fa74efb1ae22c"
            ]
        ],
        "outputLabels": [
            "White",
            "RGB",
            "Off",
            ""
        ]
    },
    {
        "id": "039f9aea0933f12e",
        "type": "color-convert",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "input": "hsv",
        "output": "rgb",
        "outputType": "object",
        "scaleInput": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "b77cd9453ad87a55"
            ]
        ]
    },
    {
        "id": "b77cd9453ad87a55",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "Color",
        "func": "var preset = flow.get('preset')||0;\nvar Brightness;\n\nif (flow.get('Brightness' || flow.get('Brightness') === 0)) {\n    Brightness = flow.get('Brightness');\n} else {\n    Brightness = 100;\n    flow.set('Brightness', Brightness);\n}\n\nvar bri = parseInt(Brightness*2.55 + .5);\n\nmsg.payload = {\"on\":true,\"bri\":bri,\"transition\":7,\"mainseg\":0,\n\"seg\":[{\"id\":0,\"start\":0,\"stop\":97,\"grp\":1,\"spc\":0,\"of\":0,\"on\":true,\"bri\":255,\"n\":\"RGB\",\"col\":[[msg.payload.red,msg.payload.green,msg.payload.blue,0],[0,0,0,0],[0,0,0,0]],\"fx\":null,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n       {\"id\":1,\"start\":24,\"stop\":25,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":null,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "de7cc287b806626f"
            ]
        ]
    },
    {
        "id": "b85fa74efb1ae22c",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "Off",
        "func": "var brightness = parseInt(msg.payload[2]*2.55 + .5);\n\nmsg.payload = {\"on\": false,\"bri\":brightness, \"transition\":7,\"mainseg\":0,\"seg\":[\n    {\"id\":0,\"start\":0,\"stop\":24,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"RGB\",\"col\":[[0,0,0,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n    {\"id\":1,\"start\":24,\"stop\":25,\"grp\":1,\"spc\":0,\"of\":0,\"on\":false,\"bri\":0,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "de7cc287b806626f"
            ]
        ]
    },
    {
        "id": "e74e4bbb261c099c",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "White",
        "func": "var brightness = parseInt(msg.payload[2]*2.55 + .5);\nmsg.payload = {\n    \"on\": true, \"bri\":brightness,\"transition\":7,\"mainseg\":0,\"seg\":[\n        { \"id\": 0, \"start\": 0, \"stop\": 97, \"grp\": 1, \"spc\": 0, \"of\": 0, \"on\": false, \"bri\": 0, \"n\": \"RGB\", \"col\": [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]], \"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},\n    {\"id\":1,\"start\":24,\"stop\":25,\"grp\":1,\"spc\":0,\"of\":0,\"on\":true,\"bri\":255,\"n\":\"White\",\"col\":[[255,255,255,0],[0,0,0,0],[0,0,0,0]],\"fx\":0,\"sx\":1,\"ix\":1,\"pal\":0,\"sel\":true,\"rev\":false,\"mi\":false},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0},{\"stop\":0}]};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 80,
        "wires": [
            [
                "de7cc287b806626f"
            ]
        ]
    },
    {
        "id": "9b4f61d7dde9fc7a",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "Output",
        "func": "var Hue = flow.get('Hue')||0;\nvar Saturation = flow.get('Saturation')||0;\nvar Brightness = flow.get('Brightness')||100;\nvar On = flow.get('On') || false;\nif(msg.payload.Hue || msg.payload.Hue === 0){\n    Hue = msg.payload.Hue;\n    flow.set('Hue',Hue);\n}\nif(msg.payload.Saturation || msg.payload.Saturation ===0){\n    Saturation = msg.payload.Saturation;\n    flow.set('Saturation',Saturation);\n}\n\nif(msg.payload.Brightness || msg.payload.Brightness === 0){\n    Brightness = msg.payload.Brightness;\n    flow.set('Brightness',Brightness);\n}\n\nif(msg.payload.On || msg.payload.On === false) {\n    On = msg.payload.On;\n    flow.set('On',On);\n}\n\nif (msg.hap && msg.hap.context !== undefined) {\n    return [{ \"payload\": [Hue, Saturation, Brightness, On] }]\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 80,
        "wires": [
            [
                "2c80f10fd4dee6b7"
            ]
        ]
    },
    {
        "id": "c9936a3002d2d229",
        "type": "join",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "Combine",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": ".1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "9b4f61d7dde9fc7a"
            ]
        ]
    },
    {
        "id": "de7cc287b806626f",
        "type": "mqtt out",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "",
        "topic": "wled/62d497/api",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd0bad3006a15a19",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "23e7538655651346",
        "type": "xml",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "662e16b8dacbc124",
                "bbd0c44722716284"
            ]
        ]
    },
    {
        "id": "662e16b8dacbc124",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "",
        "func": "var red = msg.payload.vs.cl[0];\nvar green = msg.payload.vs.cl[1];\nvar blue = msg.payload.vs.cl[2];\nvar brightness = parseInt(msg.payload.vs.ac[0]/2.55);\n\nif (parseInt(msg.payload.vs.ac[0]) >  0) {\n    flow.set('On', true);\n    flow.set('Brightness', brightness);\n} else { \n    flow.set('On', false);\n}\n\nreturn [{\"payload\":[red, green, blue]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "7b56ff80be70abd5"
            ]
        ]
    },
    {
        "id": "7b56ff80be70abd5",
        "type": "color-convert",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "input": "rgb",
        "output": "hsv",
        "outputType": "array",
        "scaleInput": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "445b273f8e1535d0"
            ]
        ]
    },
    {
        "id": "445b273f8e1535d0",
        "type": "function",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "",
        "func": "var outmsg={};\nvar Hue = flow.get('Hue')||0;\nvar Saturation = flow.get('Saturation')||0;\nvar Brightness = flow.get('Brightness');\nvar On = flow.get('On');\n\nif(!On){\n    outmsg.payload={\"On\":false};\n} else{\n    Hue = msg.payload[0];\n    flow.set('Hue',Hue);\n    Saturation = msg.payload[1];\n    flow.set('Saturation',Saturation);\n    // Brightness = msg.payload[2];\n    // flow.set('Brightness',Brightness);\n    outmsg.payload={\n        \"On\":true,\n        \"Hue\":Hue,\n        \"Saturation\":Saturation,\n        \"Brightness\":Brightness\n    }\n}\nreturn [outmsg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "490e249d805e33d2"
            ]
        ]
    },
    {
        "id": "4e8a591cae482816",
        "type": "mqtt in",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "name": "",
        "topic": "wled/62d497/v",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd0bad3006a15a19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "23e7538655651346"
            ]
        ]
    },
    {
        "id": "490e249d805e33d2",
        "type": "homekit-service",
        "z": "d2cbb67c6acd67a0",
        "g": "936a962bbd80ba3e",
        "isParent": true,
        "hostType": "0",
        "bridge": "6e0142dc7ddde237",
        "accessoryId": "",
        "parentService": "fc02e30007a03469",
        "name": "Light",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB - WLED",
        "model": "1.3.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.3",
        "hardwareRev": "1.3.3",
        "softwareRev": "1.3.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{   \"ServiceLabelIndex\": {     \"minValue\": 0,     \"maxValue\": 0   },   \"Brightness\": true,   \"Hue\": true,   \"Saturation\": true }",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "c9936a3002d2d229"
            ],
            []
        ]
    },
    {
        "id": "dd0bad3006a15a19",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "192.168.68.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]